{% extends 'base.html' %}

{% block title %}
{{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
    </div>
    <div class="content">
      {{ section.content | safe }}
    </div>
    <div class="columns is-centered">
      <div class="column is-9">
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
        {% endif %}

        {% for page in pages %}
          <h1 class="subtitle">
            <div class="post-list">
            <a class="has-text-dark" href='{{ page.permalink }}'>
              {{ page.title }}
            </a>
            {{ page.date | date(format="%b %-d, %Y") }}
            </div>
          </h1>
          <div class="content mt-2">
            {{ page.summary | safe }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
